<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашка 2. Задание 1</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <div id="app">

    <div class="text-contant">
        <h1 class="title"> {{ title }}</h1>
        <p class="text">
            Городская стража — вымышленная полиция в серии книг «Плоский мир» Терри Пратчетта. Девиз: "Безопасные улицы для честных людей".
            <span class="reade-more" v-if='show'>
            Городская Стража никогда не пользовалась ни уважением, ни популярностью среди горожан. Мало кому из анк-морпоркцев могло прийти в голову, что основное предназначение Стражи — стоять на страже закона. Гильдии и короли, которых сменили патриции, трактовали законы по-своему и также следили за исполнением законов исключительно в рамках их трактования.    
            Первые изменения произошли с приходом в Стражу воспитанника семьи гномов Моркоу Железобетонссона, который вместе с тремя последними ночными стражниками спас город от Дракона. Поскольку Дракон сжег полицейский участок на Паточношахтной улице, леди Овнец подарила Ночной Страже новое здание, принадлежавшее семье Овнец — Псевдополис Ярд.</span>
        </p>
        <button class="btn" @click="showText" v-if='show'>Скрыть</button>
        <button class="btn" @click="showText" v-else>Читать дальше</button>
    </div>

 </div>
<script src="script.js"></script>
</body>
</html>