body{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
}
.text-contant{
    width: 980px;
    margin: 0 auto;
}
.btn{
    color:#fff;
    background-color: #FF1493;
    cursor: pointer;
}