*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#app{
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}

label{
    display: inline-block;
    margin: 10px;
    width: 70%;
    background-color: #DA70D6;
    padding: 10px;   
}
label:hover{
    border:1px solid#D8BFD8;
    cursor: pointer;
}
.total-price{
    margin: 10px;
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 70%;
}
